#side-bar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 110;
    font-family: 'Montserrat', helvetica, arial, sans-serif;
}
#side-bar img {
    width: 1.3em;
    height: 1.3em;
}
#top-bar {
    position: fixed;
    top: 0;
    height: 4em;
    background-color: white;
    display: flex;
}
.menu-icon {
    top: 1.3em;
    left: 100%;
    width: 20em;
}
.icon-only {
    top: 1.1em;
    width: 20em;
}
.logo-height {
    height: 80px;
}
.info-box {
    display: flex;
    justify-content: flex-end;
    height: 60%;
    background-color: white;
}
#top-bar img {
    width: 1.5em;
    height: 1.5em;
}
.info-dropdown {
    top: 105%;
    right: 5%;
    font-family: 'Montserrat', helvetica, arial, sans-serif;
}
.info-dropdown li {
    list-style: none;
}
