<div class="logo-container flex justify-center mx-auto px-2 shadow-sm shadow-blue-200 rounded-lg" style="width: fit-content;">
    <img src="assets/blue_phoenix.png" alt="eagle logo" class="rounded-full logo">
    <div class="flex flex-col my-auto" style="font-family: Poppins, sans-serif !important;">
        <p class="text-gray-700 text-bold text-2xl ">
            <span class="text-blue-400">E</span>AGLE
        </p>
        <p class="text-gray-700 text-bold text-2xl">
            <span class="text-blue-400">S</span>TUDIO
        </p>
    </div>
   
</div>